@font-face {
   font-family: Zeyada;
   src: url(../fonts/Zeyada-Regular.ttf);
}

@font-face {
   font-family: InclusiveSans;
   src: url(../fonts/inclusivesans-regular.ttf);
}

img,
video {
   max-width: 100%;
}

* {
   box-sizing: border-box;
}

body {
   font-family: InclusiveSans;
   background-color: rgb(245, 245, 245);
   color: rgb(245, 245, 245);
}

header {
   color: rgb(245, 245, 245);
   background-color: rgb(245, 245, 245);
   font-size: 2em;
   padding: 0.1em;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   position: sticky;
   top: 0;
}


main article:nth-child(1) {
   background-image: url(../img/amsterdamcanals.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 1400px 500px;
   padding-bottom: 5em;
   padding-top: 5em;
   margin-bottom: 2em;
}

footer {
   background-color: rgb(245, 245, 245);
   color: rgb(139, 0, 0);
   margin-top: 2em;
   font-family: Zeyada;
   font-size: 3em;
   display: flex;
   justify-content: center;
}

h1 {
   color: rgb(139, 0, 0);
   font-family: Zeyada;
   font-weight: bold;
   margin: 0.05em;
}

h2 {
   color: rgb(139, 0, 0);
   font-family: Zeyada;
   font-weight: bold;
   margin: 0.05em;
   font-size: 2em;
   width: 100%;
   background-color: rgb(245, 245, 245);
   padding: 0.4em;
}

h3 {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   color: rgb(139, 0, 0);
   font-family: Zeyada;
   font-size: 3em;
   width: 100%;
   background-color: rgb(245, 245, 245);
   margin: 0em;
   padding: 0.4em;
}

h4 {
   color: rgb(139, 0, 0);
   font-family: Zeyada;
   font-weight: bold;
   font-size: 1.5em;
   margin: 0.3em;
}

ul {
   display: flex;
   justify-content: flex-end;
   padding: 1em;
   font-size: 0.4em;
   margin-top: 2em;
}

li {
   margin-right: 2em;
   color: rgb(139, 0, 0);
}

li a:hover {
   background-color: rgb(139, 0, 0);
   padding: 0.5em;
   border-radius: 1em;
   text-decoration: none;
   color: rgb(245, 245, 245);
}

li a:focus {
   background-color: rgb(255, 255, 255);
   color: rgb(255, 0, 0);
}

li a:active {
   color: rgb(255, 0, 0);
   background-color: rgb(220, 220, 220)
}

a {
   color: rgb(139, 0, 0);
   text-decoration: none;
}

a:hover {
   color: rgb(216, 112, 147);
   padding-left: 0.3em;
}

img {
   padding: 2em;
   margin-inline: auto;
   height: 35%;
   width: 30%;
}

article {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   background-color: rgb(139, 0, 0);
   width: 100%;
}

article p {
   margin-top: 2em;
   width: 70%;
}

p {
   padding-left: 2em;
}

footer p {
   padding-left: 0em;
}

q {
   color: rgb(255, 255, 255);
   background-color: rgba(139, 0, 0, 0.5);
   font-weight: bold;
   font-size: 3em;
   padding: 0.2em;
   border-radius: 0.8em;
   padding-left: 1em;
   padding-right: 1em;
}

div {
   display: flex;
   flex-direction: row;
   background-color: rgb(245, 245, 245);
}

div p {
   margin: 0.1em;
}

button {
   text-decoration: none;
   margin: 2em;
   border-radius: 1.2em;
   font-size: 3em;
   padding: 0.2em;
   background: darkred;
   transition-duration: 1s;
   transition-timing-function: linear;
}

button:hover {
   background: rgb(88, 88, 88);
}

button a {
   color: rgb(255, 230, 230);
   transition-duration: 1s;
   transition-timing-function: linear;
}

button a:hover {
   padding: 0em;
   color: rgb(245, 245, 245);
}

.right {
   display: flex;
   justify-content: flex-end;
}

.right:hover {
   padding-right: 0.3em;
}

.reverse {
   flex-direction: row-reverse;
}

p .reverse {
   padding-right: 2em;
   padding-left: 0.1em;
}

img .reverse {
   padding: 2em;
   margin-right: 2em;
   margin-left: 0.1em;
}

.center {
   display: flex;
   align-items: center;
   flex-direction: column;
   color: rgb(139, 0, 0);
   padding: 1em;
   background-image: url(../img/amsterdamcanals.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 1400px 500px;
   padding-bottom: 5em;
   padding-top: 5em;
   margin-bottom: 2em;
}

.discriptive {
   display: flex;
   justify-items: flex-start;
   flex-direction: column;
   padding: 1em;
   font-size: 1em;
   margin: 1em;
   color: rgb(139, 0, 0);
   background-color: rgb(245, 245, 245);
   border-radius: 0.4em;
}

.best {
   flex-direction: column;
   color: rgb(139, 0, 0);
   padding: 0.5em;
}

.wrap {
   width: 100%;
}

.pagename {
   background-color: rgba(139, 0, 0, 0.861);
   color: rgb(245, 245, 245);
   display: flex;
   justify-content: center;
   font-size: 2em;
   padding: 0.5em;
   width: 100%;
   border-radius: 1.2em;
}

.white {
   color: rgb(245, 245, 245);
}

.about {
   width: 100%;
}

.about img {
   width: 30%;
   padding: 0em;
   padding-top: 10em;
}

.about article {
   width: 60%;
   background-color: rgba(139, 0, 0, 0.84);
}

.about h3 {
   font-size: 3.5em;
   padding: 0.6em;
}

.about p {
   padding: 1em;
   margin: 1em;
}

.button {
   display: flex;
   justify-content: center;
}

.recomendations {
   flex-direction: column;
   font-size: 2em;
   font-weight: bold;
   margin: 0em;
}